/*==================================================================================
            PORTRAIT
===================================================================================*/
@media (max-width:599px) {
    :root {
        --logo-position:absolute;
        --logo-top:0;
        --logo-left:0;
        --logo-width:40px;
        --img1-position:absolute;
        --img1-top:0;
        --img1-left:-100rem;
        --img1-width:10px;
        --social-icon-position: absolute;
        --social-icon-top:1px; 
        --social-icon-bottom:none;
        --social-icon-right:1px;   
        --social-icon-background: rgb(150, 150, 150);
        --social-icon-display:inline-block;
        --social-icon-padding-a:2px 2px 4px 2px;
        --copyright-position:absolute;
        --copyright-bottom:0;
        --copyright-left:42vw;
        --writen-position:absolute;
        --writen-top:4rem;
        --writen-right:2vw;
        --writen-width:90vw;
        --writen-height:auto;
        --writen-border:1px solid black;
        --writen-border-radius:8px;
        --container-padding: 2px 8px 2px 8px;
        --container-margin:0 0 0 0;
        --writen-background-color:rgb(185, 185, 185);
    }
}

/*===============================================================================================
            LANDSCAPE                                        
================================================================================================*/
@media (min-width: 800px) {
    :root {
        --logo-position:absolute;
        --logo-top:0;
        --logo-left:0;
        --logo-width:40px;
        --img1-position:absolute;
        --img1-top:8rem;
        --img1-left:4px;
        --img1-width:400px;
        --social-icon-position: absolute;
        --social-icon-top:0; 
        --social-icon-bottom:none;
        --social-icon-right:0;   
        --social-icon-background: rgb(150, 150, 150);
        --social-icon-display:block;
        --social-icon-padding-a:2px 2px 4px 2px;
        --copyright-position:absolute;
        --copyright-bottom:0;
        --copyright-left:42vw;
        --writen-position:absolute;
        --writen-top:4rem;
        --writen-right:4rem;
        --writen-width:780px;
        --writen-height:auto;
        --writen-border:1px solid black;
        --writen-border-radius:8px;
        --container-padding: 2px 8px 2px 8px;
        --container-margin:0 0 0 0;
        --writen-background-color:rgb(185, 185, 185);
    }
}