
/*=======================================
html important !
===========================================*/
html {
    user-select:none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

hidden {display: none} .hide{display: none}

/*============================colors */
blue{color:blue}

/*==================================================     TOPOLOGY    */
.up {text-transform: uppercase}
.center {text-align: center}
.container {
    padding:var(--container-padding);
    margin:var(--container-margin);
}
.lead{font-size:1.25rem;font-weight:300}

/*=======================================
logo
===========================================*/
#_logo {
    position: var(--logo-position);
    top: var(--logo-top);
    left: var(--logo-left);
    width: var(--logo-width);
}

/*=========================================     images  */
#_img-left {
    position:var(--img1-position);
    top: var(--img1-top);
    left: var(--img1-left);
    width: var(--img1-width);
}

/*=====================================
footer
======================================*/
.social-icons {
    position: var(--social-icon-position);
    top:var(--social-icon-top);
    right:var(--social-icon-right);
    bottom:var(--social-icon-bottom);
    background: var(--social-icon-background);
}

.social-icons a {
    display: var(--social-icon-display);
    padding: var(--social-icon-padding-a);
}

.copyright {
    text-align: center;
    position:var(--copyright-position);
    bottom:var(--copyright-bottom);
    left:var(--copyright-left);
}

/*=================================================     writen  */
#_writen {
    position:var(--writen-position);
    top:var(--writen-top);
    right:var(--writen-right);
    width:var(--writen-width);
    height:var(--writen-height);
    border:var(--writen-border);
    border-radius:var(--writen-border-radius);
    background-color:var(--writen-background-color);
}

