:root {
    --mbtn-width: 8vw;
    --z1: 5;
    --z2: 10;
    --main-ico: calc(2vh + var(--mbtn-width) + 6vh);
    --home-top: calc(var(--main-ico) + 2vh);
    --gallery-top: calc( var(--home-top) + 20vh);
}

html {
    background-color: #000;
}

li a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.navigation .menu-nav ul li {
    margin-top: 2vh;
    text-transform: uppercase;
}
.navigation {
    z-index: var(--z2);
}

.navigation .menu-btn img {
    position: absolute;
    top: 2vh;
    left: 1vw;
    width: var(--mbtn-width);
    z-index: var(--z1);
}

.navigation .menu-nav {
    position: absolute;
    top: 6vh;
    left: 10vw;
    z-index: var(--z2);
    background-image: radial-gradient(circle, black 5%, rgb(29, 32, 9), black);
    min-width: 20vw;
    padding: 1vh 2.5vw 2vh 1vw;
    border-radius: 10px;
}

.navigation .btn-1 img {
    top: var(--home-top);
}

.navigation .btn-2 img {
    top: var(--gallery-top);
}

.music-box {
    position: absolute;
    top: 10vh;
    right: 2vw;
    z-index: var(--z1);
}

.audio-prompt .audio-btn img {
    position: absolute;
    z-index: var(--z1);
    bottom: 0;
    width: 4vw;
    right: 0;
}

footer .contain {
    z-index: var(--z2);
    position: absolute;
    bottom: 5vh;
    left: 2vw;
    color: rgb(128, 120, 120);
}

#_anime .contain {
    position: absolute;
    z-index: var(--z1);
    left: 20vw;
    top: 10vh;
}

#_anime .contain .list .new ul li a {
    letter-spacing: 1px;
    font-size: 1.4em;
    font-weight: 300;
    text-transform: capitalize;
    /* padding: 4vh 0vh 4vh 0vh;  */
    margin: 6vh 0vh 6vh 0vh;
}

#_gallery .function-box {
    position: absolute;
    z-index: var(--z1);
    top: 2vh;
    right: 1vw;
}

#_gallery .function-box img {
    width: 40px;
    margin-right: 1vw;
}

footer green {
    color: green;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

red {color:red}

#_img01 {
    z-index: -10000;
    position: absolute;
    width: 10vw;
    top: 40%;
    left:45%;
}
