table {
    width: 100%;
    font-size: 1em;
    border-collapse: collapse;
    /* position: none; */
    /* left: var(--table-left); */
    /* top: var(--table-top); */
    padding: 1px;
    /* background-color: #555; */
    border: 1px solid #333;
    margin: 0px;
}

tr,th,td {
    border: solid 1px !important;
    padding: 4px 0 4px 0 !important;
}
.tm {
    text-align: right;
  }

  .tn{
    text-align: center;
  }

  .logs {
    padding: 1em
  }

  .logs table tbody {
    color: #111;
    font-weight: 400;
    text-align: center;
  }

  .logs h3 {
    text-align: center;
    text-transform: uppercase;
  }

  tbody a {
    text-decoration: none;
    color: black;
  }

  .prevS, .nextS {
    --widS: 3rem;
    width: var(--widS);
    height: var(--widS);
    position: absolute;
    fill:blue;
  }

  .prevS{
    left: 1em
  }

  .nextS {
    right: 1em
  }
/* 
    39133832496
    SBIN0017220
*/