
html {
    background-image: repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
    background-size: 10px 10px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    color: white;
}
/*====================================NAV-BAR*/
navbar {
    z-index: 2;
}

.navbar-dist {
    margin: var(--navbar-dist);
}

.bar-nav {
    position: absolute;
    top: var(--navbar-top);
    left: var(--navbar-left);
    width: var(--navbar-width);
    height: var(--navbar-height);
    margin: var(--navbar-margin);
    background-image: var(--navbar-bg-img);
}

.nav-links {
    position: relative;
    top: var(--navlink-top);
    left: var(--navlink-left);
    width: var(--navlink-width);
    height: var(--navlink-height);
    margin: var(--navlink-margin);
    padding: var(--navlink-padding);
    display: var(--navlink-display);
}

.nav-links a {
    fill: var(--navlink-fill);
}

/*============================================FOOTER*/
footer {
    position: relative;
    bottom: var(--footer-bottom);
    left: var(--footer-left);
    color: rgb(145, 142, 142);
    margin: var(--footer-margin);
    font-size: 1em;
    font-weight: normal;
}

.copyright-text {
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*============================== SHOWCASE*/
.center {text-align: center;justify-content: center;align-items: center}

.item-show {
    margin: var(--item-margin);
    padding: var(--item-padding);
}

.item-show .left-item{
    position: relative;
    margin-right: var(--item-distance-edge); 
    display: inline-block
}

.item-show .right-item{
    position: relative;
    margin-left: var(--item-distance-edge);
    display: inline-block
}

.item-show img {
    width: var(--item-img-width);
    height: auto;
}

.item-break {
    margin: var(--item-break);
}