*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 750px;
          perspective: 750px;
  overflow: hidden;
}

.container {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-animation: rotate 80s infinite linear;
          animation: rotate 80s infinite linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotatex(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotatex(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotatex(360deg) rotateY(720deg) rotateZ(360deg);
            transform: rotatex(360deg) rotateY(720deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotatex(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotatex(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotatex(360deg) rotateY(720deg) rotateZ(360deg);
            transform: rotatex(360deg) rotateY(720deg) rotateZ(360deg);
  }
}

.pole {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.pole:nth-child(1) {
  top: -150px;
}

.pole:nth-child(2) {
  top: 0px;
}

.pole:nth-child(3) {
  top: 150px;
}

.pole > div {
  position: absolute;
  background-color: #111c;
  -webkit-box-shadow: 0 0 25px #000 inset;
          box-shadow: 0 0 25px #000 inset;
  overflow: hidden;
}

.pole > div:nth-child(n + 3)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--clr0)), color-stop(var(--clr)), to(var(--clr0)));
  background-image: linear-gradient(var(--clr0), var(--clr), var(--clr0));
  opacity: 0.25;
  -webkit-animation: poleBack 4s infinite ease-in-out alternate;
          animation: poleBack 4s infinite ease-in-out alternate;
}

@-webkit-keyframes poleBack {
  0% {
    -webkit-transform: translate(-50%, calc(-50% + 175px));
            transform: translate(-50%, calc(-50% + 175px));
  }
  100% {
    -webkit-transform: translate(-50%, calc(-50% - 175px));
            transform: translate(-50%, calc(-50% - 175px));
  }
}

@keyframes poleBack {
  0% {
    -webkit-transform: translate(-50%, calc(-50% + 175px));
            transform: translate(-50%, calc(-50% + 175px));
  }
  100% {
    -webkit-transform: translate(-50%, calc(-50% - 175px));
            transform: translate(-50%, calc(-50% - 175px));
  }
}

.pole:nth-child(1) > div::before {
  --clr: #00ff22;
  --clr0: #00ff220;
}

.pole:nth-child(2) > div::before {
  --clr: red;
  --clr0: red0;
  -webkit-animation-duration: 3.2s;
          animation-duration: 3.2s;
}

.pole:nth-child(3) > div::before {
  --clr: #0026ff;
  --clr0: #0026ff0;
  -webkit-animation-duration: 4.8s;
          animation-duration: 4.8s;
}

.pole > div:nth-child(1) {
  width: 50px;
  height: 50px;
  -webkit-transform: translate(-50%, -50%) translateZ(200px);
          transform: translate(-50%, -50%) translateZ(200px);
}

.pole > div:nth-child(2) {
  width: 50px;
  height: 50px;
  -webkit-transform: translate(-50%, -50%) translateZ(-200px);
          transform: translate(-50%, -50%) translateZ(-200px);
}

.pole > div:nth-child(3) {
  width: 50px;
  height: 400px;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg) translateZ(25px);
          transform: translate(-50%, -50%) rotateX(90deg) translateZ(25px);
}

.pole > div:nth-child(4) {
  width: 50px;
  height: 400px;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg) rotateY(90deg) translateZ(25px);
          transform: translate(-50%, -50%) rotateX(90deg) rotateY(90deg) translateZ(25px);
}

.pole > div:nth-child(5) {
  width: 50px;
  height: 400px;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg) rotateY(180deg) translateZ(25px);
          transform: translate(-50%, -50%) rotateX(90deg) rotateY(180deg) translateZ(25px);
}

.pole > div:nth-child(6) {
  width: 50px;
  height: 400px;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg) rotateY(270deg) translateZ(25px);
          transform: translate(-50%, -50%) rotateX(90deg) rotateY(270deg) translateZ(25px);
}

.neon {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid var(--clr);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: neonMove 4s infinite ease-in-out alternate;
          animation: neonMove 4s infinite ease-in-out alternate;
  -webkit-box-shadow: 0 0 10px var(--clr) inset, 0 0 10px var(--clr);
          box-shadow: 0 0 10px var(--clr) inset, 0 0 10px var(--clr);
}

.neon_a {
  --clr: #00ff22;
  top: -150px;
}

.neon_b {
  --clr: red;
  top: 0px;
  -webkit-animation-duration: 3.2s;
          animation-duration: 3.2s;
}

.neon_c {
  --clr: #0026ff;
  top: 150px;
  -webkit-animation-duration: 4.8s;
          animation-duration: 4.8s;
}

.neon > div {
  position: absolute;
  background-color: var(--clr);
  -webkit-box-shadow: 0 0 10px var(--clr);
          box-shadow: 0 0 10px var(--clr);
}

.neon > div:nth-child(1) {
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: 2px;
  -webkit-transform: translateY(-50%) rotateX(90deg);
          transform: translateY(-50%) rotateX(90deg);
}

.neon > div:nth-child(2) {
  top: -1px;
  left: -2px;
  width: 2px;
  height: calc(100% + 2px);
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.neon > div:nth-child(3) {
  bottom: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: 2px;
  -webkit-transform: translateY(50%) rotateX(90deg);
          transform: translateY(50%) rotateX(90deg);
}

.neon > div:nth-child(4) {
  top: -1px;
  right: -2px;
  width: 2px;
  height: calc(100% + 2px);
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

@-webkit-keyframes neonMove {
  0% {
    -webkit-transform: translate(-50%, -50%) translateZ(175px);
            transform: translate(-50%, -50%) translateZ(175px);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) translateZ(-175px);
            transform: translate(-50%, -50%) translateZ(-175px);
  }
}

@keyframes neonMove {
  0% {
    -webkit-transform: translate(-50%, -50%) translateZ(175px);
            transform: translate(-50%, -50%) translateZ(175px);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) translateZ(-175px);
            transform: translate(-50%, -50%) translateZ(-175px);
  }
}
/*# sourceMappingURL=neon_css.css.map */