.top-banner img {
    width: auto;
    height: 20vh;
    position: absolute;
    top: 1vh;
    left: 1vw;
    z-index: 10;
}

.bg1 {
    width: 100vw;
    height: calc(20vh + 2vh);
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.nav .menu {
    position: absolute;
    z-index: 2;
    /* overflow-X:scroll;  */
}

.menu ul {
    position: absolute;
    top: 20vh;
    left: 0vw;
    font-size: 1.5em;
}
