/*mobile- 360 x 640 - 414 x 896*/

@media (max-width: 599px) {
    :root {
        /*===========================================ICON-FILLS*/
        --icoimg-width: 80px;
        --ic-top: -30px;
        --ic-left: -65px;
        --home-icon-fill: white;
        --whatsapp-icon-fill: lightgreen;
        --table-icon-fill: yellow;
        --youtube-icon-fill: red;
        --caution-icon-fill: yellow;
        --music-icon-fill: red;
        /*============================================NAVIGATION*/
        --nav-width: 101%;
        --nav-margin: -10px -10px 1vh -10px;
        --nav-top: 1vh;

        --menu-width: 100.5vw;
        --menu-height: 8vh;

        --list-M-align: left;
        --list-M-display: block;
        /*=============================================TOP-BANNER*/
        --top-banner-top: 2.5vh;
        --top-banner-left: 35vw;
        --top-banner-font-size: 20px;
        --top-banner-letter-spacing: 2px;
        /*==========================================================*/
        --bg-color-1:#FF7C00;
        --code-margin: 18px 0 18px 0;
        --table-width: 100%;
        --table-font-size: 16px;
        --dropdown-bg-color: transparent;
        --dropdown-color: var(--bg-color-1);
        --dropdown-padding: 16px;
        --dropdown-font-size: 16px;
        --dropdown-border: none;
        --dropdown-display: inline-block;
        --dropdown-bg-color: var(--bg-color-1);
        /*=============================DROPDOWN-CONENT-A && DROPDOWN-CONENT>>--dropdown-content*/
        --dropdown-bg-size: cover;
        --dropdown-bg-img: repeating-linear-gradient(120deg, #111 0px, #222 4px, #111 6px);
        --dropdown-bg-attachment: absolute;
        --dropdown-width: 101vw;
        --dropdown-height: calc(100vh - var(--menu-height));
        --dropdown-box-shadow: 0 8px 16px 0 black;
        --dropdown-top: 65px;
        --dropdown-left: -101vw;
        --dropdown-content-color: #fff;
        --dropdown-content-bg-color:rgb(134, 120, 120);
        --dropdown-content-font-weight: bold;
        --dropdown-content-padding: 0 0vw 1vh 50vw;
        --dropdown-content-text-decoration: none;
        --dropdown-content-display: list-item;
        --dropdown-content-margin: 0 0 0 0;
        /*=============================MENU-AUTHOR-IMG>>--mai*/
        --mai-position: relative;
        --mai-left: calc(var(--mai-width) - 10vw);
        --mai-top: 10vh;
        --mai-width: 20vw;
        --mai-height: auto;
        --mai-border-radius: 50%;
        --mai-margin: 0 0 20vh 0;
        --topic-bg-color: var(--bg-color-1);
        --topic-color:black;
        --topic-font-size: 18px;
        --menu-ls-top: 2vh;
        --menu-ls-width: 2em;
        --menu-ls-height: 4em;
        --menu-ls-right: 20vw;
        /*=============================MENU-ANIMATION-DURATION*/
        --menu-enter-duration: 0.5s;
        --menu-exit-duration: var(--menu-enter-duration);
        /*=============================FOOTER-FOR-INDEX*/
        --footer-bottom: 0;
        --footer-left: 0;
    }

}

/*==========================================   CSS LANDSCAPE MOBILE WIDTH DISPLAY...*/
@media (min-width: 600px) and (max-width: 899px) {
    :root {
        /*===========================================ICON-FILLS*/
        --home-icon-fill: white;
        --whatsapp-icon-fill: lightgreen;
        --table-icon-fill: yellow;
        --youtube-icon-fill: red;
        --caution-icon-fill: yellow;
        --music-icon-fill: red;
        /*============================================NAVIGATION*/
        --nav-width: 50vw;
        --nav-margin: 0 0 0 0;
        --nav-top: -9vh;

        --menu-width: 100.5vw;
        --menu-height: 14vh;

        --list-M-align: right;
        --list-M-display: block;
        /*=============================================TOP-BANNER*/
        --top-banner-top: 4vh;
        --top-banner-left: 1vw;
        --top-banner-font-size: 20px;
        --top-banner-letter-spacing: 2px;
        /*==========================================================*/
        --bg-color-1:#FF7C00;
        --code-margin: 18px 0 18px 0;
        --table-width: 100%;
        --table-font-size: 16px;
        --dropdown-bg-color: transparent;
        --dropdown-color: var(--bg-color-1);
        --dropdown-padding: 16px;
        --dropdown-font-size: 16px;
        --dropdown-border: none;
        --dropdown-display: inline;
        --dropdown-bg-color: var(--bg-color-1);
        /*=============================DROPDOWN-CONENT-A && DROPDOWN-CONENT>>--dropdown-content*/
        --dropdown-bg-size: none;
        --dropdown-bg-img: none;
        --dropdown-bg-attachment: none;
        --dropdown-width: auto;
        --dropdown-height: calc(100vh - var(--menu-height));
        --dropdown-box-shadow: none;
        --dropdown-top: 0;
        --dropdown-left: 0;
        --dropdown-content-color: #fff;
        --dropdown-content-bg-color:rgb(134, 120, 120);
        --dropdown-content-font-weight: bold;
        --dropdown-content-padding: 0 0px 0px 0px;
        --dropdown-content-text-decoration: none;
        --dropdown-content-display: inline;
        /*=============================MENU-AUTHOR-IMG>>--mai*/
        --mai-position: relative;
        --mai-left: calc(var(--mai-width) - 10vw);
        --mai-top: 10vh;
        --mai-width: 10vw;
        --mai-height: auto;
        --mai-border-radius: 50%;
        --mai-margin: 0 0 20vh 0;
        --topic-bg-color: var(--bg-color-1);
        --topic-color:black;
        --topic-font-size: 18px;
        --menu-ls-top: calc(var(--mai-top) + 5vh);
        /*=============================MENU-ANIMATION-DURATION*/
        --menu-enter-duration: 0.5s;
        --menu-exit-duration: var(--menu-enter-duration);
        /*=============================FOOTER-FOR-INDEX*/
        --footer-bottom: 0;
        --footer-left: 0;
    }

    html {
        color: #fff;
    }

    .orangeBorder {
        position: relative;
        top: calc(5vh + 1vh);
        width: 48vw;
        left: 46vw; 
    }

    .orangeBorderB {
        position: absolute;
        top: calc(8vh + 20vh);
        left: 1vw;
        width: 41vw;
    }

    #modech {
        display: none;
    }

    #ico1, #ico2 {
        display: none !important;
    }

    #menu {
        margin-left: -1vw;
    }

    .menu-ls {
        position: absolute;
        top: 0;
        left: 50vw;
    }

    .menu-ls a {
        position: absolute;
        top: -6.5vh;
    }

    #_l1, #_l2, #_l3, #_l4, #_l5, #_l6, #_l7 {
        position: absolute;
        top:0;
        padding: 12px;
    }

    #_l1 {left:0}
    #_l2 {left:6vw}
    #_l3 {left:12vw}
    #_l4 {left:18vw}
    #_l5 {left:24vw}
    #_l6 {left:30vw}
    #_l7 {left:36vw}
    #_l7 img {width: 20px}

    #menu .hide {display: block}

    #menu #_menu-author-img {
        display: none
    }

}


