/*text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;*/

#songbody {
    display: none;
}


.sonGcontent{
    hyphens: auto;
    position: absolute;
    top:60vw;
    left:18vw;
    font-size:1.3em;
    font-weight:bold;
    color:black;
    text-shadow: -1px -1px 0px white, 1px 1px 0px #00ccff;
}

#controlthebeat{
    position: fixed;
    top:30vh;
    left:10vw;
    z-index: 6;
}

#controlthebeat video {
    width: 80vw;
    border:1px solid red;
    border-radius: 50%;
    box-shadow:5px 5px 0 0 white;
}

#vlink5 {
    background-color: black;
    padding-top:1vh;
}

#mediaFire{
    background-color:black;
    padding-top:5vh;
}

.clearfix1{
    margin-top:1px;
}

#navigation {
    background-color:black;
    padding-bottom:5vh;
}