/*-------------------------------------------------------------------------------------
    ONLY DEFAULT VALUES AND CODES FOR LAYOUTS ARE TO BE WRITTEN IN HERE...
---------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

html {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background:black;
    overflow-x:hidden;
}


/*=================================================
    common occurences
-==================================================*/
#startup, .slider, .orangeBorderB, #menu {
    background-color:var(--bg-color-1);
}

.startupOn, .startupOff, 
.enter-right, .exit-right, 
.menu-exit, .menu-enter, 
.logout {
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;  
}

#loader .loadtxt h1, #loader .loadtxt p, 
#closebtnad, .switch, .dropdown, .bordered {
    position: relative;
}


/*Media querries================================================================*/
@media (min-width:1024px) {
    body {
    font-size: 1em !important;
    }
    p {
        font-size: 1em !important;
    }

    h1,h2,h3,h4,h5 {
        font-size: 2em !important;
    }

    table,th,td,tr {
        font-size: 18px !important;
    }

    svg {
        width: 2em !important;
        height: 2em !important;
    }

    .clearfix {
        margin: 5% !important;
    }

    .top-banner {
        left: 42vw !important;
        top: 1vw !important;
    }
}

/*desktop- 1024 x 768 - 1920 x 1080
    mobile- 360 x 640 - 414 x 896 
    tablets- 601 x 962 - 1280 x 800 
    page plan->>
    topic-item-content.
font-family: 'Shadows Into Light', cursive;*/

/*home================================================================*/
#home h1::selection {
    background: yellow;
    color: black;
}

#home h1 {
    font-size: 15vw !important;
    letter-spacing: 1px;
}

#home red {
    color: red;
}

/*anime listing================================================================*/
.orangeBorder {
    border: 1px solid ;
    border-color:white;
    border-radius: 10px;
    border-top-width: 30px;
    border-bottom-width: 20px;
    padding: 5px 10px 30px 20px;
    color: white;
    background-color: black;
    opacity: 0.8;
}

.orangeBorder a:hover {color:#b85128;}
.orangeBorder a:visited {color:#FFF;}

.orangeBorder h1,a{
    text-transform: capitalize;
}

/*Big Borderboss*/
.orangeBorderB {
    border: 1px solid #FF7C00;
    border-radius: 10px;
    border-top-width: 20px;
    border-bottom-width: 10px;
    padding: 10px 10px 10px 20px;
    color: white;
    opacity: 1;
}

.orangeBorderB a {
    padding-top: 10px;
    opacity: 1;
    display: block !important;
}

.orangeBorder a {
    padding-top: 15px;
    opacity: 1;
    display: block !important;
}

.orangeBorder h1 {
    margin-top: -34px;
    text-align: center;
    font-size: 1.5em;
    opacity: 1;
    color: black;
}



/*Mode =================================================================*/
.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode #topbartext h2 {
    color: white;
}

.dark-mode small {
    background-color: black;
    border: 3px solid black;
}

.dark-mode #modech .center {
    text-align: center;
    border: 3px solid white;
}

.dark-mode .orangeBorder {
    color: rgb(255, 123, 0);
}

.dark-mode #vlink5{
    display: block;
}

.dark-mode .orangeBorder {
    border-color: rgb(255, 123, 0);
}

.dark-mode .orangeBorder h1 {
    color:white;
}

.dark-mode #vlink4 video {
    opacity:0.5;
}
/*SWITCH MODE==============*/
.switch {
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: white;
}

input:focus+.slider {
    box-shadow: 0 0 1px white;
}

input:checked+.slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

#modech {
    position: absolute;
    right: 20px;
    top: 20px;
}

#modech .center {
    text-align: center;
    border: 3px solid black;
}

/* ANIMATIONS ================================================================*/
.startupOn{
    animation-duration:0.4s;
    animation-name: screenOn;
    animation-timing-function:ease-in;
}

.startupOff{
    animation-duration:0.4s;
    animation-name:screenOff;
    animation-timing-function:ease-out;
}

.logout{
    animation-name: logout;
    animation-duration:0.8s;
    animation-timing-function:ease-out;
}

.enter-right {
    animation-name: e-right;
    animation-duration:0.5s;
    animation-timing-function:ease-in;
}

.exit-right {
    animation-duration:0.4s;
    animation-name: ex-right;
    animation-timing-function:ease-out;
}

.menu-enter {
    animation-name: menuIn;
    animation-duration:var(--menu-enter-duration);
    animation-timing-function:ease-in;
}

.menu-exit {
    animation-name: menuOut;
    animation-duration:var(--menu-exit-duration);
    animation-timing-function:ease-out;
}

/* KEYFRAMES ================================================*/
@keyframes screenOn {
    0%{
        opacity: 0;
    }
    100%{
            opacity: 1;
    }
}

@keyframes screenOff {
    0%{
        opacity: 1;
    }
    100%{
            opacity: 0;
    }
}

@keyframes logout{
    0% { opacity:1;}
    100%{opacity: 0;}
}

@keyframes e-right {
    from {right:-62vw;}
    to{right: 1vw;}
}

@keyframes ex-right {
    from {right:1vw;}
    to{right: -62vw;}
}

@keyframes menuIn {
    from{left:-101vw;}
    to{left:0;}
}

@keyframes menuOut {
    from{left:0;}
    to{left:-101vw;}
}

/* LAYOUTS DESIGN ================================================================*/
/* .ad-box {
    z-index:5;
    position:fixed;
    background-color: black;
    opacity: 0.9;
    border:2px solid red;
    border-radius: 20px 0 0 20px;
    width:60vw;
    top:10vh;
    right:-62vw;
    font-family: 'Shadows Into Light', cursive;
}

.adC{
    padding-left:3px;
    padding-right:2px;
} */

/* #closebtnad {
    top:0.5vh;
    left:54vw;
}

#loader .loadtxt p{
    font-size: 8vw !important;
    top:20vh;
    border:1px solid black;
    background:black;
}

#loader .loadtxt h1{
    font-size: 15vw !important;
    top:20vh;
    border:1px solid black;
    background:black;
}

#loader{
    position:fixed;
    color:white;
    font-weight: bold;
    width:100vw;
    height: 100vh;    
    background-image: url(../assets/img/3e930c4458bba9f71658e5dbeb0d38f4.jpg);
    opacity: 1;
    padding: 4px 4px;
    z-index: 5;
    top: 0;
    left:0;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#startup{
    position:fixed;
    color:black;
    font-weight: bold;
    width:85vw;
    box-shadow: 4px 4px 4px 4px black;
    opacity: 1;
    padding: 4px 2px;
    z-index: 5;
    top: 30vw;
    left:8vw;
} */

/* Topography ================================================================*/
#topbartext h2 {
    color: black;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 14px;
}

h3 {
    font-size: 12px;
}

h4 {
    font-size: 10px;
}

.bordered {
    border: 1px solid green;
    padding: 10px 0 10px 0;
    text-align: center;
}

.container {
    margin: 100px 20px 100px 20px;
}

.center {
    text-align: center;
}

.row {
    display: inline-block;
}

.up {
    text-transform: uppercase;
}

#menu h2 {
    font-size: 16px;
}

#menu {
    width: var(--menu-width);
    height: var(--menu-height);
}

.imp {
    text-transform: uppercase;
}

.hide {
    display: none;
}

.center-block {
    text-align: center;
    margin: 0 12% 0 12%;
}

.up-cap {
    text-transform: capitalize;
}

.footer-container {
    margin-top: 150px;
}

a {
    text-decoration: none;
    color: inherit;
}

.lightyellow {
    background-color: rgb(168, 168, 60);
    color: black;
}

topic {
    background-color:var(--topic-bg-color);
    color:var(--topic-color);
    font-weight: bold;
    font-size:var(--topic-font-size);
}

#navigation {
    position: relative;
    top: var(--nav-top);
    margin: var(--nav-margin);
    width: var(--nav-width);
    z-index: 5;
}

.footer-top{
    margin-top:20px;
}
.footer-bottom{
    margin-bottom: 5px;
}

.code {
    margin: var(--code-margin);
}

.top-banner {
    display: inline-block;
    font-size: var(--top-banner-font-size);
    font-weight: var(--top-banner-font-weight);
    letter-spacing: var(--top-banner-letter-spacing);
    position: absolute;
    top: var(--top-banner-top);
    left: var(--top-banner-left);
}

#source-char tr,
td {
    border: none !important;
}

#author {
    font-family: 'Shadows Into Light', cursive;
}

small {
    font-size: 12px;
    letter-spacing: 0 !important;
}

#navigation red {
    color: red;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
}


/*=================================== table */
/* #detailed {
    margin: 5rem 0 5rem 0;
    display: none;
}

#detailed .no {
    background-color: red;
    color: white;
}

#detailed .yes {
    background-color: green;
    color: black;
}

#detailed .yes-50 {
    background-color: rgb(63, 241, 101);
    color: black;
}

#detailed .no-50 {
    background-color: rgb(253, 124, 73);
    color: white;
}

table {
    width: var(--table-width);
    font-size: var(--table-font-size);
    border-collapse: collapse;
}

tr,th,td {
    border: solid 1px !important;
    padding: 4px 0 4px 0 !important;
} */


/*Menu NAVIGATION DROPDOWN =================================================================*/
.dropdown {
    background-color: var(--dropdown-bg-color);
    color: var(--dropdown-color);
    padding: var(--dropdown-padding);
    font-size: var(--dropdown-font-size);
    border: var(--dropdown-border);
    display: var(--dropdown-display);
}

.dropdown-content {
    position: absolute;
    background-image: var(--dropdown-bg-img); 
    
    /*background-color: var(--dropdown-content-bg-color);*/
    background-size: var(--dropdown-bg-size);
    background-attachment: var(--dropdown-bg-attachment);
    background-repeat: no-repeat;
    width: var(--dropdown-width);
    height:var(--dropdown-height);
    box-shadow:var(--dropdown-box-shadow);
    z-index: 5;
    top:var(--dropdown-top);
    left:var(--dropdown-left);
}

.dropdown-content a {
    color:var(--dropdown-content-color);
    font-weight:var(--dropdown-content-font-weight);
    padding: var(--dropdown-content-padding);
    text-decoration: var(--dropdown-content-text-decoration);
    display:var(--dropdown-content-display);
    margin: var(--dropdown-content-margin)
}

.menu-ls {
    position: absolute;
    top: var(--menu-ls-top);
    overflow-X: scroll;
    height: var(--menu-ls-height);
    width: var(--menu-ls-width);
    right: var(--menu-ls-right)
}
.menu-ls a {
    display: inline !important;
}


/* IMAGE SETTINGS ================================================================*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

pre code {
    font-size: 16px !important;
    margin: 10px 8px 10px 8px !important;
}

#prog1img {
    width: 120px;
    border-radius: 50%;
    display: inline-block;
    border: 2px dashed red;
}

#pro1h2 {
    display: inline-block;
    position: absolute;
    left: 180px;
    padding-right: 5px;
}

#vlink5 .container {
    margin-bottom:0px;
}

.lead {
    font-family: 'Shadows Into Light', cursive;
    color:rgb(97, 97, 97);
    margin:2px 2px;
}

/*let the menu-nav aniate*/

#vlink5{
    display:none;
}

/*=================================================================
    Hmanhwa section part
======================================================================*/
#_manhwa img {
    width:100%;
}
#_manhwa-c {
    margin:0px !important;
}

#_manhwa-c img {
    width:100%;
    height:auto;
    margin-top:-5px;
}

#_menu-author-img {
    position:var(--mai-position);
    left:var(--mai-left);
    top: var(--mai-top);
    width:var(--mai-width);
    height:var(--mai-height);
    border-radius:var(--mai-border-radius);
    margin-bottom: var(--mai-margin);
}

/*==================================================footer*/
footer {
    position: relative;
    bottom:var(--footer-bottom);
    left:var(--footer-left);
}

/*===================================================DROPDOWN-MENU-ICON-FILLS*/
.bi-house {fill: var(--home-icon-fill)}
.bi-whatsapp {fill: var(--whatsapp-icon-fill)}
.bi-table {fill: var(--table-icon-fill)}
.bi-youtube {fill: var(--youtube-icon-fill)}
.bi-exclamation-triangle-fill {fill: var(--caution-icon-fill)}
.bi-music-note-list {fill: var(--music-icon-fill)}

.list-M {
    text-align: var(--list-M-align);
    display: var(--list-M-display);
}

#topbartext {
    position: relative;
    top: -2px;
    height: 10px;
    width: 10px
}

::-webkit-scrollbar {
    width:0px;
    background: transparent;
}

.top-banner img {
    position: absolute;
    width: var(--icoimg-width);
    top: var(--ic-top);
    left: var(--ic-left);
    height: auto;
}

#_l7 img {
    position: relative;
    left: -3px;
    width: 30px;
}