/* styling for index file of the page */

/* starting from the basics, we have something that judges the styling of the pages that this website contains... */

.menu-bar {
    background-color: var(--menubar-background);
    height: var(--menubar-height);
    width: var(--menubar-width);
    left: var(--menubar-left);
    top: var(--menubar-top);
    background-size: cover;
    position: fixed;
    z-index: 10;

}

.menu-container {
    background-color: var(--menuR-bg);
    position: var(--menulist-position);
    width: var(--menulist-width);
    text-transform: uppercase;
    text-align: center;
    height: var(--menulist-height);
    top: var(--menulist-top);
    left: var(--menulist-left);
    z-index: 10;
}

.menu-list {
    padding-top: var(--menubar-height);
}

.menu-list a {
    display: list-item;
    padding: 1vh 0 1vh 0;
    text-decoration: none;
}

.menu-list-right {
    position: fixed;
    top: var(--menuR-top);
    right: var(--menuR-right);
    width: var(--menuR-width);
    height: var(--menuR-height);
    display: var(--menuR-display);
    background-color: var(--menuR-bg);
    padding: 30px 30px 8px 40px;
}

.menuR-list a {
    display: list-item;
    text-decoration: none;
    list-style: none;
    padding: 1vh 0 1vh 0;
}

.icon-page img {
    width: 60px;
    position: fixed;
    top: 1px;
    left: 610px;
    z-index: 10;
}

.bottom-banner {
    z-index: 10;
    position: fixed;
    bottom: -4px;
    left: var(--bottom-banner-left);
    color: white;
    width: var(--bottom-banner-width);
}

.middle #_img1 {
    position: relative;
    opacity: var(--img1-opacity);
    width: var(--img1-width);
    left: var(--img1-left);
    z-index: var(--img1-z);
    top: var(--img1-top);
}

.section-1 {
    height: auto;
    border-radius: var(--sec1-border-radius);
    font-weight: var(--sec1-font-weight);
    font-size: var(--sec1-font-size);
    background-color: var(--sec1-bg);
    border: var(--sec1-border);
    color: var(--sec1-color);
    width: var(--sec1-width);
    text-align: left;
    position: relative;
    top: var(--sec1-top);
    left: var(--sec1-left);
}

.section-1 p {
    padding: var(--sec1-pad);
}

.middle .box {
    z-index: -100;
    position: fixed;
    background-color: var(--box-bg);
    width: var(--box-w);
    top: var(--box-t);
    left: var(--box-l);
    height: var(--box-h);
    opacity: var(--box-op);
}

.middle {
    overflow-Y: scroll;
    overflow-X: hidden;
    margin-top: 80px;
}

#_postbox {
    position: relative;
    height: var(--pbox-h);
    width: var(--pbox-w);
    top: var(--pbox-t);
    left: var(--pbox-l);
    background-color: var(--pbox-bg);
    display: var(--pbox-dis);
}

#_b1, #_b2 {
    margin-bottom: 80px;
    color: var(--b1-color);
}