@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'IM Fell English', serif;
  background-image: repeating-linear-gradient(60deg, #000 0px, #222 2px, #000 4px);
  color: #fff;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.typing {
  font-size: 48px;
}

.typing::before {
  content: '';
  -webkit-animation: text 15s step-end infinite;
          animation: text 15s step-end infinite;
}

@-webkit-keyframes text {
  0% {
    content: '';
  }
  3% {
    content: ' Y';
  }
  6% {
    content: ' YO';
  }
  9% {
    content: ' YOU';
  }
  12% {
    content: ' YOU ';
  }
  15% {
    content: ' YOU A';
  }
  18% {
    content: ' YOU AR';
  }
  21% {
    content: ' YOU ARE';
  }
  24% {
    content: ' YOU ARE ';
  }
  27% {
    content: ' YOU ARE V';
  }
  30% {
    content: ' YOU ARE VE';
  }
  33% {
    content: ' YOU ARE VER';
  }
  36% {
    content: ' YOU ARE VERY';
  }
  39% {
    content: ' YOU ARE VERY ';
  }
  42% {
    content: ' YOU ARE VERY B';
  }
  45% {
    content: ' YOU ARE VERY BU';
  }
  48% {
    content: ' YOU ARE VERY BUS';
  }
  51% {
    content: ' YOU ARE VERY BUSY';
  }
  54% {
    content: ' YOU ARE VERY BUSY ';
  }
  57% {
    content: ' YOU ARE VERY BUSY P';
  }
  60% {
    content: ' YOU ARE VERY BUSY PE';
  }
  63% {
    content: ' YOU ARE VERY BUSY PER';
  }
  66% {
    content: ' YOU ARE VERY BUSY PERS';
  }
  69% {
    content: ' YOU ARE VERY BUSY PERSO';
  }
  72% {
    content: ' YOU ARE VERY BUSY PERSON';
  }
  75% {
    content: ' YOU ARE VERY BUSY PERSON.';
  }
  78% {
    content: ' YOU ARE VERY BUSY PERSON..';
  }
  81% {
    content: ' YOU ARE VERY BUSY PERSON...';
  }
}

@keyframes text {
  0% {
    content: '';
  }
  3% {
    content: ' Y';
  }
  6% {
    content: ' YO';
  }
  9% {
    content: ' YOU';
  }
  12% {
    content: ' YOU ';
  }
  15% {
    content: ' YOU A';
  }
  18% {
    content: ' YOU AR';
  }
  21% {
    content: ' YOU ARE';
  }
  24% {
    content: ' YOU ARE ';
  }
  27% {
    content: ' YOU ARE V';
  }
  30% {
    content: ' YOU ARE VE';
  }
  33% {
    content: ' YOU ARE VER';
  }
  36% {
    content: ' YOU ARE VERY';
  }
  39% {
    content: ' YOU ARE VERY ';
  }
  42% {
    content: ' YOU ARE VERY B';
  }
  45% {
    content: ' YOU ARE VERY BU';
  }
  48% {
    content: ' YOU ARE VERY BUS';
  }
  51% {
    content: ' YOU ARE VERY BUSY';
  }
  54% {
    content: ' YOU ARE VERY BUSY ';
  }
  57% {
    content: ' YOU ARE VERY BUSY P';
  }
  60% {
    content: ' YOU ARE VERY BUSY PE';
  }
  63% {
    content: ' YOU ARE VERY BUSY PER';
  }
  66% {
    content: ' YOU ARE VERY BUSY PERS';
  }
  69% {
    content: ' YOU ARE VERY BUSY PERSO';
  }
  72% {
    content: ' YOU ARE VERY BUSY PERSON';
  }
  75% {
    content: ' YOU ARE VERY BUSY PERSON.';
  }
  78% {
    content: ' YOU ARE VERY BUSY PERSON..';
  }
  81% {
    content: ' YOU ARE VERY BUSY PERSON...';
  }
}

.typing::after {
  content: '';
  display: inline-block;
  width: 0.1em;
  height: 0.75em;
  margin-left: 0.1em;
  background-color: #fff;
  -webkit-animation: blink 0.75s ease-in-out infinite;
          animation: blink 0.75s ease-in-out infinite;
}

@-webkit-keyframes blink {
  0%, 25%, 100% {
    opacity: 1;
  }
  50%, 75% {
    opacity: 0;
  }
}

@keyframes blink {
  0%, 25%, 100% {
    opacity: 1;
  }
  50%, 75% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */