table {
    width: 100%;
    font-size: 1em;
    border-collapse: collapse;
}

tr,th,td {
    border: solid 1px !important;
    padding: 4px 0 4px 0 !important;
}

.detail-date {
    position: relative;
    top: 45px;
    padding-bottom: 20px;
}