table {
    width: var(--table-width);
    font-size: var(--table-font-size);
    border-collapse: var(--table-border-collapse);
    position: var(--table-position);
    left: var(--table-left);
    top: var(--table-top);
    padding-bottom: var(--table-padding-bottom);
    background-color: var(--table-bg-color);
    border: var(--table-border);
    margin: var(--table-margin);
}

tr,th,td {
    border: solid 1px !important;
    padding: 4px 0 4px 0 !important;
}
.tm {
    text-align: right;
  }

  .tn{
    text-align: center;
  }
/* 
    39133832496
    SBIN0017220
*/