.profile-1 .profile-img img{
    width: 280px;
    box-shadow: 8px 8px 1px rgb(0, 140, 255);
}

.profile-2 .profile-img img{
    width: 280px;
    box-shadow: 8px 8px 1px rgb(179, 47, 69);
}

div.rotate_right {
    float: left;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
  }

  div.rotate_left {
    float: left;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);
  }

  div.polaroid {
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
  }

  div.profile-1 {
      position: absolute;
      left: 20px;
  }