.profile-1 .profile-img img{
    width: 260px;
    box-shadow: 8px 8px 1px rgb(0, 140, 255);
    /* border-radius: 50%; */
}

.profile-2 .profile-img img{
    width: 260px;
    box-shadow: 8px 8px 1px rgb(179, 47, 69);
    /* border-radius: 50%; */
}

div.rotate_right {
    float: left;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
  }

  div.rotate_left {
    float: left;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);
  }

  div.polaroid {
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
  }

  div.profile-1 {
      position: absolute;
      left: 20px;
  }

  div.top {
    text-transform: capitalize;
    font-size: 1em;
    font-weight: bold;
    color: rgb(32, 23, 23);
    text-align: center;
    padding-bottom: 4px;
  }

  div.top-po {
    position: relative;
    top: 0;
    /* left: 2%; */
    z-index: 10;
  }

  div.clearfix {
    margin-bottom: 80px;
  }

  .bottom {
    position: relative;
    margin-top: 130vh;
  }

  .r1,.r2,.r3,.r4,.r5,.r6,.r7,.r8 {
    padding-top: 4px;
    padding-bottom:4px;
  }

  .tm {
    text-align: right;
  }

  .tn{
    text-align: center;
  }

  i {
    display: block;
    margin: 0 auto;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.6rem auto;
    content: '';
  }

  /* #_i1.on span {background-image: url(../icon/lightning.png);display: block;margin: 0 auto;position: fixed;background-position: center;background-repeat: no-repeat;background-size: 1.6rem auto;content: '';z-index: 13;width: 4rem;height: 4rem;top: 50%;right: 2px;} */

/*diamond icon <i> for menu list*/
  #_i1 i{
      z-index: 15;
      width: 1.8rem;
      height: 1.8rem;
      right: 1.2%;
      top: 50%;
      background-image: url(../icon/diamond.png);
  }

  #_i1.on i{
    background-image: url(../icon/diamond\ on.png);
  }

  * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box
}

a {
    text-decoration: none;
    outline: none
}

a:hover,
a:link,
a:active {
    text-decoration: none;
    outline: none
}

ul,
li {
    list-style: none
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
  overflow-y: hidden
}

/* gallery */
#_gallery {
  position: absolute;
  top:0px;
  /* left: 2px; */
  z-index: 10;
  width: 100vw;
  height: auto;
  background-image: url(../media/img/date1/1640377956117.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

div.hide {display: none}

#i1,#i6,#i9,#i8,
div.gallery img {
  width: 260px;
  height: auto;
  position: relative;
  left: 17%;
}

div.polaroid-img {
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
}