.profile-1 .profile-img img{
    width: var(--profile-width);
    box-shadow: 8px 8px 1px rgb(0, 140, 255);
    /* border-radius: var(--profile-border-radius); */
}

.profile-2 .profile-img img{
    width: var(--profile-width);
    box-shadow: 8px 8px 1px rgb(179, 47, 69);
    /* border-radius: var(--profile-border-radius); */
}

div.rotate_right {
    float: left;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
  }

  div.rotate_left {
    float: left;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);
  }

  div.polaroid {
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
  }

  div.top {
    text-transform: capitalize;
    font-size: 1em;
    font-weight: bold;
    color: rgb(32, 23, 23);
    text-align: center;
    padding-bottom: 4px;
  }

  div.top-po {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 1.4em;
    background-color: white;
    z-index: 10;
    border-bottom: 0.5px solid black;
  }

  div.clearfix {
    margin-bottom: 80px;
  }

  .bottom {
    position: relative;
    margin-top: 130vh;
  }

  .r1,.r2,.r3,.r4,.r5,.r6,.r7,.r8 {
    padding-top: 4px;
    padding-bottom:4px;
  }

  i {
    display: block;
    margin: 0;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.6rem auto;
    content: '';
  }

  /* #_i1.on span {background-image: url(../icon/lightning.png);display: block;margin: 0 auto;position: fixed;background-position: center;background-repeat: no-repeat;background-size: 1.6rem auto;content: '';z-index: 13;width: 4rem;height: 4rem;top: 50%;right: 2px;} */

/*diamond icon <i> for menu list*/
  #_i1 i{
      z-index: 15;
      width: 1.8rem;
      height: 1.8rem;
      right: 1.2%;
      bottom: 50%;
      background-image: url(../icon/diamond.png);
  }

  #_i1.on i{
    background-image: url(../icon/diamond\ on.png);
  }

  * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box
}

a {
    text-decoration: none;
    outline: none
}

a:hover,
a:link,
a:active {
    text-decoration: none;
    outline: none
}

ul,
li {
    list-style: none
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
  overflow-y: hidden
}

/* gallery */
#_gallery {
  top: var(--gallery-top);
  /* left: 2px; */
  z-index: 10;
  position: var(--gallery-position);
  width: var(--gallery-width);
  height: var(--gallery-height);
  background-image: var(--gallery-bg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.hide {display: none}

/* #i1,#i6,#i9,#i8,
div.gallery img {
  width: 260px;
  height: auto;
  position: relative;
  left: 17%;
} */

div.polaroid-img {
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid rgb(31, 21, 21);
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}