@media  (max-width:599px) and (max-height: 850px) {
    :root {
    --app-banner-width: 80px;
    --app-banner-height:auto;
    --app-banner-margin: 0 0 0 0;
    --app-banner-top:2px;
    --app-banner-left:1px;
    --app-playstore-width:98vw;
    --app-playstore-height: auto;
    --app-playstore-top:0;
    --app-playstore-left:0.5vw;
    --app-playstore-margin:0 0 0 0;
    --app-install-width:70vw;
    --app-install-height:auto;
    --app-install-top:5px;
    --app-install-left:14vw;
    --app-install-margin:0 0 0 0;
    --box-top:12vh;
    --box-left:0;
    --box-margin:0 0 0 0;
    --footer-margin:0 0 0 0;
    --footer-bottom:0;
    --footer-left:30vw;
    --app-instructions-top:38vh;
    --menu-icon-top:1vw;
    --menu-icon-right:1vw;
    --menu-icon-margin:0 0 0 0;
    --yt-ico-top:1vw;
    --yt-ico-right:12vw;
    --yt-ico-margin:0 0 0 0;
    --menu-position: absolute;
    --menu-top:0;
    --menu-left:0;
    --menu-no-screen-left:-200px;
    --menu-width:180px;
    --menu-height:100vh;
    --menu-background-color:white;
    --menu-animation-duration-enter:0.6s;
    --menu-animation-duration-exit: var(--menu-animation-duration-enter);
    --menu-left-keyframes-a:0;
    --menu-left-keyframes-b:-180px;
    }  
}