
/*================================      menu    */
#_menu {
    position:var(--menu-position);
    top: var(--menu-top);
    width: var(--menu-width);
    height: var(--menu-height);
    background-color: var(--menu-background-color);
    z-index: 10;
}

.menu-enter {
    left: var(--menu-left);
    animation-name:_menu-enter;
    animation-delay:0;
    animation-duration:var(--menu-animation-duration-enter);
    animation-iteration-count:1;
}
@keyframes _menu-enter {
    to{left:var(--menu-left-keyframes-a)}
    from{left:var(--menu-left-keyframes-b)}
}

.menu-exit {
    left: var(--menu-no-screen-left);
    animation-name:_menu-exit;
    animation-delay:0;
    animation-duration: var(--menu-animation-duration-exit);
    animation-iteration-count:1;
}
@keyframes _menu-exit {
    to{left:var(--menu-left-keyframes-b)}
    from{left:var(--menu-left-keyframes-a)}
}

/*================================     footer  */
#_footer {
    position:absolute;
    bottom:var(--footer-bottom);
    left:var(--footer-left);
    margin: var(--footer-margin);
}

.copyright {text-align:center}
/*=================================      banner apk  */
#_apk-banner {
    width:var(--app-banner-width);
    height:var(--app-banner-height);
    margin: var(--app-banner-margin);
    position: relative;
    top:var(--app-banner-top);
    left:var(--app-banner-left);
}
/*===============================       playstore box   */
#_playstore-box {
    position: absolute;
    top:var(--box-top);
    left: var(--box-left);
    margin: var(--box-margin);
}
/*===============================      playstore img   */
#_playstore {
    width:var(--app-playstore-width);
    height:var(--app-playstore-height);
    position: relative;
    top:var(--app-playstore-top);
    left:var(--app-playstore-left);
    margin: var(--app-playstore-margin);
}
/*=============================== playstore install     */
#_install {
    width: var(--app-install-width);
    height: var(--app-install-height);
    position: relative;
    top:var(--app-install-top);
    left:var(--app-install-left);
    margin: var(--app-install-margin);
}

#_instructions {
    position: relative;
    top:var(--app-instructions-top);
    left:var(--app-instructions-left);
    width: var(--app-instructions-width);
}
/*==============================================================    icons   */
#_ico1, #_ico2 {
    z-index: 3;
    position: absolute;
    top:var(--menu-icon-top);
    right:var(--menu-icon-right);
    margin:var(--menu-icon-margin);
}

#_ico3 {
    z-index: 3;
    position: absolute;
    top:var(--yt-ico-top);
    right:var(--yt-ico-right);
    margin:var(--yt-ico-margin);
}
/*===============================================================*/
html {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}

hidden {display: none}.hide{display: none}
